<footer class="minimal-footer">
  <div class="footer-content">
    <div class="footer-main">
      <div class="footer-brand">
        <img src="./icon.png" alt="Recipe App" width="30">
        <span>Meals</span>
      </div>
      <div class="social-links">
        <p-button icon="pi pi-facebook" styleClass="p-button-text p-button-plain" />
        <p-button icon="pi pi-twitter" styleClass="p-button-text p-button-plain" />
        <p-button icon="pi pi-instagram" styleClass="p-button-text p-button-plain" />
      </div>
    </div>
    <div class="footer-copyright">
      <p>&copy; 2024 Recipe Finder. Powered by <a href="https://www.themealdb.com/">TheMealDB API.</a></p>
    </div>
  </div>
</footer>